.git 
.env.*
node_modules
vendor
storage/app/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/testing/*
storage/logs/*
!storage/app/.gitignore
!storage/framework/.gitignore
!storage/logs/.gitignore
tests
.phpunit.result.cache
.DS_Store
Thumbs.db
*.log