/.phpunit.cache
/bootstrap/ssr
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/resources/js/actions
/resources/js/routes
/resources/js/wayfinder
/vendor
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
/packages/callcocam/laravel-raptor-flow
/vps-deployment-packagevps-deployment-v2/manifest.env
/errors


install -d -m 700 -o deploy -g deploy /home/deploy/.ssh
cat >> /home/deploy/.ssh/authorized_keys <<'EOF'
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIJ2NFWWGZ5S6KuQNrznaSnr0Tan40YFpoVx2aQwaTLoI plannerate/plannerate-v1-deploy
EOF
chown deploy:deploy /home/deploy/.ssh/authorized_keys
chmod 600 /home/deploy/.ssh/authorized_keys


ssh -i ~/.ssh/id_ed25519_ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIJ2NFWWGZ5S6KuQNrznaSnr0Tan40YFpoVx2aQwaTLoI plannerate/plannerate-v1-deploy deploy@177.7.58.29
